@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0 10px;
}

p {
    margin: 0 10px;
}


/* Navbar starts */
.navbar .logo {
    font-size: 2.7rem;
    color: #fff;
}

.navbar {
    height: 70px;
    background-color: var(--primary-color);
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .btn {
    border-radius: 30px;
    width: 9rem;
    font-size: 1.5rem;
    height: 3.2rem;
}

/* Navbar Ends */


/* Section 1 */

.section1 {
    height: 500px;
    background-color: var(--primary-color);
    position: relative;
}

.section1::before {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
}

.section1::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
}

.section1 .flex {
    flex-direction: column;
}

.section1-headline {
    position: relative;
    bottom: 100px;
    padding: 2rem 0;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.section1-para {
    position: relative;
    bottom: 50px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
    margin: 0 60px;
    text-align: center;
}



/* Section 1 Ends */


/* Responsive Navbar */
@media (max-width: 1100px) {
    .navbar .flex {
        justify-content: center;
    }

    .navbar .btn {
        display: none;
    }

    .section1 .flex {
        align-items: center;
    }

    .section1-para {
        margin: 0 0;
    }
}

@media (max-width: 800px) {
    .section1 {
        height: 600px;
    }

    .section1-headline {
        font-size: 2rem;
        bottom: 70px;
    }

    .section1-para {
        margin: 0 0;
        font-size: 1rem;
    }
}