.btn {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 0;
    background-color: rgb(75, 206, 75);
    color: #fff;
    font-weight: bolder;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    transform: scale(0.96);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 2rem;
}